@model JoinGame

@{
    ViewData["Title"] = "Join Game";
}

<h2>Join</h2>

<h3>@Model.GameName</h3>
<h4>@Model.OwnerName</h4>
<p>@Model.UserID</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Join">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameID" />
            <input type="hidden" asp-for="GameName" />
            <input type="hidden" asp-for="OwnerName" />
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Join Game" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
