@model TutorialPage

@{
    ViewData["Title"] = "Index";
    int left = 300;
    string leftwidth = $"{left}px";
    string leftmargin = $"-{left + 10}px";
}


<h2>Tutorial</h2>

<p>
    <a asp-action="Create">Create Page</a>
</p>
@if (Model != null)
{
    @foreach (TutorialSection s in Model.Sections)
    {
        <hr />
        <h2 style="display:inline">@s.Header</h2>
        <a asp-controller="Tutorials" asp-action="Edit" asp-route-id="@s.ID" class="btn btn-toolbar" style="float:right;display:inline">Edit Section</a>
        <br /><br />
        <div class="container" style="margin-left:30px">
            @s.HTMLContent
        </div>
    }
    <br /><br />
    <br /><hr />
    <p>
        <a class="btn btn-success" asp-action="Add" asp-route-id="@Model.ID">+ Add Section</a>
    </p>
}
