@model List<SearchGame>

@{
    ViewData["Title"] = "Home Page";

    bool? loggedIn = ViewData["LoggedIn"] as bool?;

    List<SearchGame> MyGames = (ViewData["MyGames"] as List<SearchGame>) ?? new List<SearchGame>();

    ViewData["suffix"] = "_mygames";
}

@if (loggedIn.HasValue && loggedIn.Value)
{
    @await Html.PartialAsync("/Views/Games/Index.cshtml",MyGames,ViewData)
}

<div class="row">
    <h1>SEARCH FOR A GAME</h1>
</div>
@{
    ViewData["suffix"] = "_search";
}
<div class="row">
    <h2>Search Results</h2>
    <ul class="list-unstyled">
        @foreach (SearchGame search in Model)
        {
            <li>
                @await Html.PartialAsync("/Views/Partials/Lists/_ListGame.cshtml", search,ViewData)
            </li>
        }
    </ul>
</div>
